# Pandas Data structure: Series, DataFrame

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
ser = pd.Series()
print(ser)

Series([], dtype: object)

In [10]:
a = [1, 7, 2]

ser = pd.Series(a)
print(ser)

0    1
1    7
2    2
dtype: int64

In [12]:
a = [1, 7, 2]

ser = pd.Series(a, index = ["x", "y", "z"])
print(ser["z"])

2

In [14]:
d = {"day1":100 , "day2":200, "day3":300} 

ser = pd.Series(d)
print(ser["day2"])

200

In [15]:
data = (10, 20, 30, 40)

ser = pd.Series(data)
print(ser)

0    10
1    20
2    30
3    40
dtype: int64

In [16]:
ser = pd.Series(10 , index = ["a", "b", "c"])
print(ser)

a    10
b    10
c    10
dtype: int64

# DataFrames

In [17]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
fruits = ["Apple", "Banana", "Orange", "grapes"]

df = pd.DataFrame(fruits)
print(df)

        0
0   Apple
1  Banana
2  Orange
3  grapes

In [20]:
fruits = [["Apple", 100], ["Banana", 200], ["Orange", 300], ["grapes",400]]

df = pd.DataFrame(fruits, columns = ["Fruit name" , "Price"])
print(df)

  Fruit name  Price
0      Apple    100
1     Banana    200
2     Orange    300
3     grapes    400

In [21]:
Fruit = {
        "Fruit name" : ["Apple", "Banana", "Orange", "grapes"],
        "Price" : [100, 200, 300, 400]
}

df = pd.DataFrame(Fruit)
print(df)

  Fruit name  Price
0      Apple    100
1     Banana    200
2     Orange    300
3     grapes    400

# Load and Save data  from CSV and Excel files

In [23]:
df_csv = pd.read_csv("C:/Users/Prikshit_Ishi/CSV_data.csv")
print(df_csv)

       Name   Age         Profession  Salary                    Favorite Quote
0      John  25.0  Software Engineer   80000            Keep calm and code on!
1     Alice   NaN             Doctor  120000           Trust me, I'm a doctor!
2     Rocky   NaN              Boxer   50000                 Eye of the tiger!
3  Sherlock  40.0          Detective  150000  It's elementary, my dear Watson.
4  Mr. Bean  50.0           Comedian   10000                   Why so serious?
5  Mr. Bean  50.0           Comedian   10000                   Why so serious?